@import './base/base';
@import './base/typography';
@import './base/helpers';
@import './layouts/l-article';
@import './layouts/l-header';
@import './layouts/l-main';
@import './layouts/l-photographerSection';
@import './components/button';
@import './photographer.scss';

.logo {
    height: 50px;
    margin-left: 82px;
}

img.portrait-class  {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    clip-path:circle(49%);
    background-size: cover;
}

.ph-div-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ph-country-div {
    display: flex;
    gap: 5px;
    color: #D3573C;
}

.p-footer{
    padding-left: 75px;
}


#divLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.a-link {
    text-decoration: none; 
}
