@import './base/base';
@import './base/typography';
@import './base/helpers';
@import './layouts/l-article';
@import './layouts/l-header';
@import './layouts/l-main';
@import './layouts/l-photographerSection';
@import './components/button';
@import './components/modalContact';
@import './components/lightbox';
@import './components/variables';
@import './libs/photographer.scss';
@import './libs/media.scss';

.logo {
    width: 200px;
    height: 50px;
    margin-left: 82px;
}

.portrait-class  {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    clip-path:circle(49%);
    background-size: cover;
    object-fit: cover;
}

.portrait-class[alt]::after {
    content: attr(alt);
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); /* Hides text visually */
    white-space: nowrap;
}

.ph-div-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ph-country-div {
    display: flex;
    gap: 5px;
    color: $second-main-color;
}

.p-footer{
    padding-left: 75px;
}


#divLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.a-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
}
