body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1440px; }

.no-scroll {
  overflow: hidden; }

body {
  font-family: 'DM sans'; }
  body h1, body h2 {
    font-weight: 400;
    color: #d3573c; }
  body h1 {
    font-size: 64px;
    line-height: 83.33px;
    margin: 5px;
    padding: 0; }
  body h2 {
    font-size: 36px;
    line-height: 46.87px;
    margin: 5px;
    padding: 0; }
  body .h2photographeLocation {
    font-size: 24px;
    line-height: normal;
    color: #901c1c; }
  body h3 {
    font-size: 13px;
    line-height: 16.93px;
    color: #901c1c;
    margin: 5px;
    padding: 0; }
  body p {
    font-size: 13px;
    line-height: 13.02px;
    margin: 5px;
    padding: 0; }
  body .priceText {
    font-size: 9px;
    line-height: 11.72px;
    color: #757575; }
  body .h1Homepage {
    margin-right: 100px;
    font-size: 36px;
    line-height: 46.87px;
    color: #901c1c; }
  body .contactTagline {
    font-size: 18px;
    line-height: 23.44px;
    color: #525252; }

/**
* Clear inner floats
*/
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
* Main content containers
* 1. Make the container full-width with a maximum width
* 2. Center it in the viewport
* 3. Leave some space on the edges, especially valuable on small screens
*/
.container {
  max-width: 100%;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
* Hide text while making it readable for screen readers
* 1. Needed in WebKit-based browsers because of an implementation bug;
*    See: https://code.google.com/p/chromium/issues/detail?id=457146
*/
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
* Hide element while making it readable for screen readers
* Shamelessly borrowed from HTML5Boilerplate:
* https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }

main {
  margin-bottom: 100px; }

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px; }

button {
  width: 170px;
  height: 69px;
  padding: 23px;
  font-size: 18px;
  line-height: 23.44px;
  text-align: center;
  border: none;
  border-radius: 2%; }

.mainBtn {
  background-color: #901c1c;
  color: white; }

.secondBtn {
  background-color: #d3573c;
  color: black; }

button {
  width: 170px;
  height: 69px;
  padding: 23px;
  font-size: 18px;
  line-height: 23.44px;
  text-align: center;
  border: none;
  border-radius: 2%; }

.mainBtn {
  background-color: #901c1c;
  color: white; }

.secondBtn {
  background-color: #d3573c;
  color: black; }

.header-ph {
  z-index: -3; }

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.modal {
  position: fixed;
  display: none;
  margin-top: -65px;
  width: 699px;
  margin: 5px;
  left: calc(50% - 300px);
  z-index: 1; }

.form-title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }

.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust opacity as needed */
  z-index: 1;
  /* Ensure it's above mediaGallery */ }

.close-btn {
  width: auto;
  margin: 0;
  padding: inherit;
  padding-top: 12px;
  background: #db8876;
  font-size: 20px;
  cursor: pointer; }

.close-btn:hover {
  color: red; }

form {
  width: 100%;
  margin: auto;
  padding: 35px;
  background: #db8876;
  border-radius: 5px; }

.form-title {
  color: #000;
  font-family: "DM Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

label {
  display: block;
  margin-bottom: 5px;
  font-size: 36px; }

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 24px; }

textarea {
  width: 100%;
  font-size: 24px; }

button {
  padding: 8px 20px;
  margin-bottom: 36px;
  cursor: pointer; }

.thanks-for-contacting {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 300px;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 600px;
  border-radius: 5px;
  gap: 40px;
  z-index: 2;
  transform: translate(-50%, -50%);
  background: #db8876;
  color: #000; }

.thanks-for-contacting p {
  margin: 0;
  padding: 30px;
  font-size: 36px;
  line-height: normal; }

.lightbox {
  display: none;
  position: fixed;
  flex-direction: column;
  top: 100px;
  width: 100%;
  z-index: 1; }

.lightbox-active {
  display: flex; }

.lightbox-content {
  box-sizing: border-box;
  width: 1253px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9); }

.lightbox-image-container {
  width: 1050px;
  height: 83vh;
  padding-top: 22px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 69vw; }

.lightbox-media {
  display: none;
  position: absolute;
  width: 1050px;
  height: 900px;
  left: 0;
  margin: 0px 109px 62px 94px;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip; }

#image-description-div {
  position: absolute;
  width: 350px;
  height: 30px;
  left: 72px;
  bottom: 10px;
  padding: 0.01em 16px; }

* .image-description-div::before, .image-description-div::after {
  box-sizing: inherit; }

#image-description {
  font-size: 24px; }

.lightbox-button {
  position: absolute;
  width: 96px;
  height: 96px;
  padding: 0%;
  top: 40%;
  background-color: transparent;
  z-index: 2; }

#prev-button {
  margin-right: 95%; }

#next-button {
  right: 0%; }

#close-button {
  width: 72px;
  height: 72px;
  top: 2%;
  right: 1%; }

.lightbox-media-active {
  display: block; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }

.photograph-header {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  max-width: 1240px;
  height: 313px;
  background-color: #fafafa; }

img.logo-photographe {
  margin-left: 0; }

.container {
  max-width: 1240px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0; }

#photographer {
  margin-top: 33px;
  margin-left: auto;
  max-width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: #fafafa; }

.headerPortrait {
  margin-bottom: -20px; }

.filterSelection {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.filter-option {
  margin: 60px;
  padding: 20px;
  overflow-y: auto;
  font-size: 18px;
  line-height: 23.44px;
  text-align: center;
  border: none;
  border-radius: 2%;
  background-color: #901c1c;
  color: white;
  box-shadow: #757575; }

.selected:focus {
  outline: none;
  border-color: #d3573c;
  box-shadow: 0 4px 8px #757575; }

.divHeader {
  margin-left: 50px; }

.media-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.media-info p {
  font-size: 24px; }

.like-price {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  left: 72%;
  display: flex;
  width: 300px;
  height: 69px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background: #db8876;
  font-size: 24px;
  z-index: 1; }

.media-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  gap: 95px; }

.opacity {
  opacity: 0.6; }

.media-item {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box; }

.thumbnail {
  display: flex;
  width: 350px;
  height: 300px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative; }

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.media {
  object-fit: cover;
  object-position: 0px 0px; }

.title {
  font-size: 24px;
  margin-top: 10px;
  color: #901c1c; }

.likes {
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #901c1c; }

.pointer {
  cursor: pointer; }

.heart-icon {
  width: 24px;
  height: 24px;
  fill: #901c1c;
  margin-right: 5px; }

.logo {
  width: 200px;
  height: 50px;
  margin-left: 82px; }

.portrait-class {
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
  clip-path: circle(49%);
  background-size: cover;
  object-fit: cover; }

.portrait-class[alt]::after {
  content: attr(alt);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  /* Hides text visually */
  white-space: nowrap; }

.ph-div-info {
  display: flex;
  flex-direction: column;
  align-items: center; }

.ph-country-div {
  display: flex;
  gap: 5px;
  color: #d3573c; }

.p-footer {
  padding-left: 75px; }

#divLink {
  display: flex;
  flex-direction: column;
  align-items: center; }

.a-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
