@import './variables';
@import './button';

.header-ph {
    z-index: -3;
}

.modal {
    position: relative;
    display: none;
    margin-top: -65px;
    width: 699px;
    margin: 5px;
    left: calc(50% - 300px);
}   

.form-title-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: 1; /* Ensure it's above mediaGallery */
}

.close-btn {
    width: auto;
    margin: 0;
    padding: inherit;
    padding-top: 12px ;
    background: $tertiaire-main-color;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

form {
    width: 100%;
    margin: auto;
    padding: 35px;
    background: $tertiaire-main-color;
    border-radius: 5px;
}

.form-title {
    color: #000;
    font-family: "DM Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 36px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
}

textarea {
    width: 100%;
    font-size: 24px;
}

button {
    padding: 8px 20px;
    cursor: pointer;
}

.thanks-for-contacting {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    border-radius: 5px;
    gap: 40px;
    z-index: 2;
    transform: translate(-50%, -50%);
    background: $tertiaire-main-color;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thanks-for-contacting p {
    margin: 0;
    padding: 30px;
    font-size: 36px;
    line-height: normal;
}
