$max-width: 100%;
$main-color: rgba(144, 28, 28, 1);
$second-main-color: rgba(211, 87, 60, 1);
$tertiaire-main-color:rgba(219, 136, 118, 1);
$grey-color: rgba(117, 117, 117, 1);
$grey-contactTagline: rgba(82, 82, 82, 1);
$shadow : 0 0 10px rgba(0, 0, 0, 0.2);
