@import '../components/variables';

body {

    font-family: 'DM sans';

    h1, h2 {
        font-weight: 400;
        color: $second-main-color;       
        
    }

    h1 {
        font-size: 64px;
        line-height: 83.33px;
        margin: 5px;
        padding: 0;
    }

    h2 {
        font-size: 36px;
        line-height: 46.87px;
        margin: 5px;
        padding: 0;
    }

    .h2photographeLocation {
        font-size: 24px;
        line-height: normal;
        color: $main-color;
    }

    h3 {
        font-size: 13px;
        line-height: 16.93px;
        color: $main-color;
        margin: 5px;
        padding: 0;
    }

    p {
        font-size: 13px;
        line-height: 13.02px;
        margin: 5px;
        padding: 0;
    }

    .priceText {
        font-size: 9px;
        line-height: 11.72px;
        color: $grey-color;
        ;
    }

    .h1Homepage {
        margin-right: 100px;
        font-size: 64px;
        line-height: 46.87px;
        color: $main-color;
    }

    .contactTagline {
        font-size: 18px;
        line-height: 23.44px;
        color: $grey-contactTagline;
        ;
    }

}